body {
    background-color: #efe3af;
    text-align: center;
}

#gameBoard {
    margin: 0 auto;
    padding-top: 20px;
}

#rounds {
    padding: 20px;
}

#gameInfo {
    padding: 20px;
}

.btn-choice {
    display: inline-block;
    border: none;
    background: none;
}

.btn-choice:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.btn-choice:focus {
    outline: none;
}

.btn-choice:active {
    transform: translateY(8px);
}

img {
    padding-top: 20px;
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}
