body {
    background-color: #efe3af;
    text-align: center;
    font-family: "Sriracha", cursive;
}

#gameBoard {
    margin: 0 auto;
    padding-top: 10px;
}

#rounds {
    padding: 5px;
}

#gameInfo {
    padding: 20px;
}

.choices {
    display: flex;
    justify-content: center;
}

.btn-choice {
    display: inline-block;
    border: none;
    background: none;
}

.btn-choice:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.btn-choice:focus {
    outline: none;
}

.btn-choice:active {
    transform: translateY(8px);
}

img {
    padding-top: 20px;
    width: 200px;
    height: auto;
}

@media screen and (max-width: 320px) {
    img.responsive-img {
        width: 10px;
    }
}

@media screen and (max-width: 360px) {
    img.responsive-img {
        width: 95px;
    }
}

@media screen and (max-width: 411px) {
    img.responsive-img {
        width: 95px;
    }
}

@media screen and (max-width: 414px) {
    img.responsive-img {
        width: 95px;
    }
}
